<%- include('header'); -%>

<div>
  <div class="logo-div">
    <h1>Password Manager</h1>
    <p>Protect and Manage your passwords</p>
  </div>
  <div class="login-div">
    <h1>Hello!</h1>
    <p>Sign into your account here.</p>
    <form action="/" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <button class="login-btn" type="submit">login</button>
    </form>
    <hr>
    <p>Don't have an account?</p>
    <a href="/signup"><button class="login-btn">SignUp</button></a>
  </div>
</div>

<%- include('footer'); -%>
